<head>
	<meta charset="UTF-8">
	<title>Mon Application - Jeremy St-Onge</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<header>
	<!-- formulaire caché -->
	<form style="display : none;" method="POST" action="/modifier" id = "mon_formulaire">
		<input type = "text" name = "_id">
		<input type = "text" placeholder="entrez votre nom" name = "nom">
		<input type = "text" placeholder="entrez votre prenom" name = "prenom">
		<input type = "text" placeholder="entrez votre num de tel" name = "telephone">
		<input type = "text" placeholder="entrez votre adresse courriel" name = "courriel">
	</form>
</header>