body {
	background-color : #FAFAFA;
}

.leMenu {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.a_menu {
	width: 20%;
	text-align: center;
	font-size: 1.4em;
	padding: 2%;
	margin : 2%;
	text-decoration: none;
	color: black;

	transition: color 0.3s;
}

.a_menu:hover {
	color : #aaa;
}

table {
	border-bottom : 2px solid black;
	border-top : 2px solid black;
	padding: 3%;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

table tr {

}

table tr td {
	width : 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

table tr td a {
	color: #2d2d2d;
}


#tableHead {
	font-size: 1.1em
}

#tableHead td a {
	color : #4B8500;
	text-decoration: none;
}

footer {
	padding: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}