body {
	background-color : #EDEDED;
	color : #2d2d2d;
}

header {
	background-color: #001D40;
	padding-bottom: 5%;
}

.formAjouter {
	margin-top: 10%;
	margin-bottom: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formAjouter input {
	margin: 1%;
	padding: 1%;
	border-radius: 20px;
}

.leMenu {
	width: 40%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.a_menu {
	width: 20%;
	text-align: center;
	font-size: 1.8em;
	padding: 2%;
	margin : 2%;
	text-decoration: none;
	color: #FAFAFA;

	transition: color 0.3s;
}

.a_menu:hover {
	color : #aaa;
}

#rechercheForm {
	margin-top: 2.5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#rechercheForm input {
	margin: 1%;
	padding: 1%;
	border-radius: 20px;
}

.principal {
	margin-top: 2.5%;
	margin-bottom: 5%;
}

.principal .tableau {
	border-bottom : 2px solid #001D40;
	border-top : 2px solid #001D40;
	padding: 3%;
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.principal .tableau tr {

}

.principal .tableau tr td {
	width : 20%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

.principal.tableau tr td a {
	/*color: #2d2d2d;*/
}


#tableHead {
	font-size: 1.1em
}

#tableHead td a {
	color : #34D40D;
	text-decoration: none;
}

.genererVider {
	display: flex;
	justify-content: center;
	align-items: center;
}

.genererVider a {
	font-size: 2.2em;
	color: #001D40;
	border : 2px solid #001D40;
	border-radius: 20px;
	width: 10%;
	margin: 2%;
	padding : 1.5%;
	text-align: center;
	text-decoration: none;
}

footer {
	/*background-color: #001D40;*/
}

footer h2 {
	padding-bottom: 5%;
	font-size: 1.4em;
	text-align: center;
}